.d-flex-center {
        align-items: center;
    display: flex;
}

button.manualUpdate {
    background: #1a0e67;
    color: white;
    border-radius: 4px;
    width: 100%;
    /* text-transform: uppercase; */
}
.autoForm {
    display: grid;
    grid-template-columns: fit-content(500px)  170px 150px 450px 180px auto;
    gap: 20px;
    padding-top: 20px;       
}
.proj {
    display: inline-block;
    background: #4CAF50;
    color: #fff;
    padding: 5px 20px;
    border-radius: 5px;
    margin-right: 10px;
}
.proj_details{
    /* padding: 5px 10px; */
    font-size: 16px;
    color: #000000;
    background: #f3f4f6;
    border: 1px solid #f3e9e9;
    padding: 6px 10px;
    border-radius: 6px;
}

.pos-relative{
    position: relative;
}

@media screen and (max-width:776px){
.autoForm{
    grid-template-columns: unset;
    
}
    
}