.d-flex-center {
        align-items: center;
    display: flex;
}

button.manualUpdate {
    background: #1a0e67;
    color: white;
    border-radius: 4px;
    width: 100%;
    
}
.autoForm {
    display: grid;
    grid-template-columns: fit-content(500px)  170px 150px 450px 180px auto;
    gap: 20px;
    padding-top: 20px;       
}
.proj {
    display: inline-block;
    background: #4CAF50;
    color: #fff;
    padding: 5px 20px;
    border-radius: 5px;
    margin-right: 10px;
}
.proj_details{
    font-size: 16px;
    color: #000000;
    background: #f9f2ff;
    border: 1px solid #8900ff52;
    padding: 6px 10px;
    border-radius: 6px;
}
     .mob_div .icon_image{
    width: 32px;
    }

.pos-relative{
    position: relative;
}

.mob_div{
    
        display: grid;
    grid-template-columns: 32px auto;
    gap: 10px;
    font-size: 20px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
}
    .mob_div  span.project{
        /* background: #1c014f;
        color: white;
        border: unset; */
            background: #e9dcff;
    color: #1e004c;
    border: 1px solid #dbc1ff;
        border-radius: 4px;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 0px 10px 4px;
    }

.Details_label{
color: #25004b;
}
.Details_value{
 white-space: nowrap;        
  overflow: hidden;           
  text-overflow: ellipsis;    
  display: block;             
  max-width: 380px;     

}

@media screen and (max-width:776px){
.autoForm{
    grid-template-columns: unset;
    
}
    
}


.ms-mobile, .ms-desk{
  display: none;
}

@media screen and (max-width:776px){
    .ms-mobile{
        display: block;
    }

    
}
@media screen and (min-width:776px){
    .ms-desk{
        display: block;
    }
    
}