.dateDayBox{
    padding: 0 15px;
    border: 1px solid #f3e9e9;
    border-radius: 7px;
}
.currentDateBtnTxt{
    font-size: 18px;
    color: white;
    border-radius: 10px;
    font-weight: 500;
}
.dateDayContainer{
    padding: 12px;
    border: 1px solid #dfe4eb;
    border-radius: 8px;

}
   
