.dateDayBox{
    padding: 5px 20px;
    border: 1px solid #f3e9e9;
    border-radius: 7px;
    width: 100%;
}
.currentDateBtnTxt{
    font-size: 18px;
    color: white;
    border-radius: 10px;
    font-weight: 500;
    background-color: #4d6bfe;
    width: 100%;
    white-space: nowrap;
}
.dateDayContainer{
    /* padding: 12px;
    border: 1px solid #dfe4eb;
    border-radius: 8px; */
    gap: 10px;

}

/* stop clock css
 */
 .startBtn {
    background-color: #007900;
    color: white;
    font-size: 18px;
    font-weight: 600;
    width: 95px;
 }
.startBtn:hover{
    background-color: #0ca20c;
}
 .stopBtn {
    background-color: #e3090b;
    color: white;
    font-size: 18px;
    font-weight: 600;
    width: 95px;
 }
.stopBtn:hover{
    background-color: #fc0d11;
}
.toggleContain{
    label{
        background-color: #4d6bfe4d;
        padding-right: 14px;
        border-radius: 22px;
        border: 1px solid #0d2dc94d;
    }
    .MuiFormControlLabel{
        color: #0b0051;
        font-size: 16px;
    }
}


/* form */
.formControls{
    width: 200px;
}
/* .css-sc8y68-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root { */
    /* height: 40px; */
/* } */


.formArea{
    display: grid;
    grid-template-columns: 250px 250px 150px 150px auto 150px 250px 100px;
    gap: 20px;
    padding: 20px 0;
}
.mode_header{
    display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0 0;
}
.d-inline{
    display: inline-block;
}
.manualUpdate{
    background: #1a0e67;
    color: white;
    border-radius: 4px;
}

.currentDateBtnTxt {
    position: relative;
    background-color: #1b004e;
    color: white;
    font-weight: 600;
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    /* overflow: hidden;  */
    width: 100%;
  }
  
  /* .circles {
    position: absolute;
    top: 0;
    left: 0; */
    /* width: 200%;
    height: 200%;
    pointer-events: none;
    background: radial-gradient(circle at 20% 30%, rgba(255, 255, 255, 0.05) 10%, transparent 20%),
                radial-gradient(circle at 80% 60%, rgba(255, 255, 255, 0.04) 8%, transparent 16%),
                radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.06) 10%, transparent 20%);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    animation: moveBubbles 8s linear infinite;
    z-index: 0; */
  /* } */
  
  /* @keyframes moveBubbles {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(-5%, -10%);
    }
    100% {
      transform: translate(0, 0);
    }
  } */
  